.third img{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 2%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


   

nav{
    background-color: rgb(239, 227, 237);
   
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;

    
}

nav li{
    display: inline-block;
    width: 25%;
    text-align: right;
}




/*.in  {
    font-size: 2em; 
    color: #333; 
    margin: 10px;
    z-index: 1;
    position: absolute;
    top: 60%;
    left: 40%;
  }
  
   .in{
    text-decoration: none;
    color: inherit; 
   
  }

  .link  {
    font-size: 2em; 
    color: #333; 
    margin: 10px;
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 40%;
  }
  
   .link{
    text-decoration: none;
    color: inherit; 
   
  }*/

  .contact-item1{
    position:absolute ;
    top: 50%;
    left: 40%;
  }

  .contact-item2{
    position:absolute ;
    top: 55%;
    left: 40%;

  }

  .contact-item3{
    position:absolute ;
    top: 60%;
    left: 40%;
  }


  
  