.first img{
    width: 100%;
    height: 100vh;
    position: absolute;
    
    top: 2%;
}

.first .welcome{
    position: absolute;
    left: 800px;
    top: 50%;
    font-style: italic;
    font-size: 50px;
}

nav{
    background-color: rgb(232, 179, 211);

    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    
}

nav li{
    display: inline-block;
    width: 25%;
    text-align: right;
}